// @import "~bootstrap/scss/bootstrap";

// // // // // 
// GENERALE //
// // // // //
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

//  // // //
// NAVBAR //
//  // // //
nav{
    background-color: #fefeff;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;

    ul{
        list-style: none;
        display: flex;
        gap: 25px;
        color: black;
        cursor: pointer;


        a{
        text-decoration: none;
        color: black;
        padding-bottom: 62px;
        }

        a:hover{
        color: #0383f9;
        border-bottom: 5px solid #0383f9;
    }

    }


    .active{
        color:#0383f9;
        border-bottom: 5px solid #0383f9;
    }
}


// /////////
// MAIN //
///////////
#jumbotron{
    width: 100%;
    height: 400px;
    background-image: url(../../public/img/jumbotron.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 600px;
    width: 100%;
    background-color: #1d1c1d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    #current{
        background-color:#0383f9 ;
        font-weight: 600;
        padding: 10px;
        margin-top: -20px;
        margin-bottom: 50px;
        width: 170px;

        
    }

    #container{
        width: 70%;
        margin: auto;
        min-height: 700px;

        .row{
            width: 100%;
            min-height: 450px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            
            .card{
                width: calc(100% / 6 - 20px);
                min-height: 180px;
                margin: 10px;
                cursor: pointer;

                .img-thumb{
                    width: 100%;
                    height: 180px;
                }

                .card-text{
                    margin: 10px;
                }
                
            }

            #load{
                background-color:#0383f9;
                font-weight: 600;
                padding: 10px;
                margin-bottom: 20px;
                width: 200px;
                text-align: center;
                
            }
        }
    }
}

// //////////
// FOOTER //
///////////
#container-s{
    background-color: #0383f9;
    color: white;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul{
        list-style-type: none;
        display: flex;
        gap: 30px;
    }

    li{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

.shop-img{
    color: white;
    width: 50px;
    height: 65px;
}



#container-f{
    background-image:url(/public/img/footer-bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    ul{
        font-weight: 600;
        margin-right: 20px;
        margin-bottom: 10px;
        

        li{
            color: grey;
            font-weight: 100;
            list-style-type: none;
            padding-bottom: 5px;
            font-size: 15px;
        }

        li:hover,
        li:active{
            color: white;
            cursor: pointer;
        }
    }
}

#box-ul{
 display: flex;
}

#img-container{
    background-image: url(/public/img/dc-logo-bg.png);
    height: 100%;
    width: 40%;
    background-position: center;
    background-repeat: no-repeat;
}



// parte inferiore con i social

#social-section{
    background-color: #313031;
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#button{
    padding: 10px;
    border: 2px #0383f9 solid;
    cursor: pointer;
}

#socials{
    color: #0383f9;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 400;
}
